#### Pandas มาจาก Panel Data  ใช้สำหรับการจัดการและการวิเคราะห์ข้อมูลที่มีโครงสร้าง 1 มิติและหลายมิติ 
#### Pandas มีโรงสร้างข้อมูล 3 แบบคือ 1.Series 2.DataFrame

###### 1. Series  เป็นข้อมูลที่มีโครงสร้างแบบชุด คล้าย Array 1 มิติ สามารถเก็บข้อมูลต่างชนิดกันได้ คล้ายกับ List  โดย series จะมี index สำหรับใช้อ้างอิงตำแหน่างของข้อมูล(element)

In [7]:
import pandas as pd 
import numpy as np

In [8]:
sales = pd.Series([20, 12, 18, 10])

In [9]:
sales1 = pd.Series([2561,12.5,'Com_sci',3,"UP"])

In [10]:
sales2 = {'cs':15, 'it':12.5,'cpe':18, 'bc':22}

In [14]:
sales = [20, 12, 18, 10] 
nsales = np.array(sales)
# nsales
series = pd.Series(nsales)
series

0    20
1    12
2    18
3    10
dtype: int32

In [17]:
# sales1 = pd.Series([2561,12.5,'Com_sci',3,"UP"]) 
nsales1 = np.array(sales1)
series1 = pd.Series(nsales1)
series1

0       2561
1       12.5
2    Com_sci
3          3
4         UP
dtype: object

In [20]:
sales2 = pd.Series({'cs':15, 'it':12.5,'cpe':18, 'bc':22})
nsales2 = np.array(sales2)
series2 = pd.Series(nsales2)
series2

0    15.0
1    12.5
2    18.0
3    22.0
dtype: float64

In [22]:
months = pd.Series(['Mar','Apr', 'Feb', 'Jan'], index=[3, 4, 2, 1])
months

3    Mar
4    Apr
2    Feb
1    Jan
dtype: object

In [23]:
majors = pd.Series([20, 12, 18, 10], index=['CS', 'BC', 'IT', 'CPE'])
majors

CS     20
BC     12
IT     18
CPE    10
dtype: int64

In [24]:
majors['CS']

20

In [25]:
sales = pd.Series([20, 12, 18, 10])

In [26]:
sales.index

RangeIndex(start=0, stop=4, step=1)

In [27]:
sales[1]

12

In [28]:
sales[1:3]

1    12
2    18
dtype: int64

In [29]:
sales*33

0    660
1    396
2    594
3    330
dtype: int64

In [30]:
sales.sum()

60