
### ข้อมูล Gender Height Weight Index ของบุคคลจำนวน 500 คน
#### จาก https://github.com/mathawanup/learn_dataset/blob/master/500_Person_Gender_Height_Weight_Index.csv
#### ประกอบด้วย
#### 1.Gender : Male / Female
#### 2.Height : Number (cm)
#### 3.Weight : Number (Kg)
#### 4.Index :0 - Extremely Weak, 1 - Weak, 2 - Normal, 3 - Overweight,4 - Obesity,5 - Extreme Obesity
#### ให้นิสิตสร้าง column ชื่อ BMI เพื่อเก็บผลการคำนวณ BMIของแต่ละคน 
#### ให้นิสิตบันทึกไฟล์เป็น รหัสนิสิต_BMI.xlsx หรือ csv
____

BMI=$\frac{Weight(kg)}{Height(m)^2}$

____

**Import pandas as pd.**

In [1]:
import pandas as pd

**ให้นำเข้าข้อมูลจากไฟล์ 500_Person_Gender_Height_Weight_Index.csv จาก url ที่กำหนดมาในรูปของ dataframe โดยตังชื่อตัวแปรว่า df**

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/mathawanup/learn_dataset/master/500_Person_Gender_Height_Weight_Index.csv')

**แสดงข้อมูล 5 แถวแรกของ dataframe**

In [3]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

**สร้าง column  Meter เพื่อเก็บผลลัพธ์ของการแปลงส่วนสูงจากหน่วย cm ให้เป็น m.**

In [4]:
df['Meter'] = df['Height'] / 100
df.head()

   Gender  Height  Weight  Index  Meter
0    Male     174      96      4   1.74
1    Male     189      87      2   1.89
2  Female     185     110      4   1.85
3  Female     195     104      3   1.95
4    Male     149      61      3   1.49

**คำนวณส่วนสูตร m ยกกำลัง 2**

In [5]:
df['Meter'] = df['Meter']**2
df.head()

   Gender  Height  Weight  Index   Meter
0    Male     174      96      4  3.0276
1    Male     189      87      2  3.5721
2  Female     185     110      4  3.4225
3  Female     195     104      3  3.8025
4    Male     149      61      3  2.2201

**สร้าง column BMI เก็บผลการคำนวณ BMI**

In [8]:
df['BMI'] = df['Weight']/df['Height']

**แสดงข้อมูลที่ประกอบด้วยผลการคำนวณ BMI เฉพาะ 5 แถวแรกของ dataframe**

In [9]:
df.head()

   Gender  Height  Weight  Index   Meter       BMI
0    Male     174      96      4  3.0276  0.551724
1    Male     189      87      2  3.5721  0.460317
2  Female     185     110      4  3.4225  0.594595
3  Female     195     104      3  3.8025  0.533333
4    Male     149      61      3  2.2201  0.409396

**สร้าง column BMI เก็บผลการคำนวณ BMI (ตามสูตร)**

In [10]:
df['BMI'] = df['Weight'] / df['Height']

**แสดงข้อมูลที่ประกอบด้วยผลการคำนวณ BMI เฉพาะ 5 แถวแรกของ dataframe**

In [11]:
df.head()

   Gender  Height  Weight  Index   Meter       BMI
0    Male     174      96      4  3.0276  0.551724
1    Male     189      87      2  3.5721  0.460317
2  Female     185     110      4  3.4225  0.594595
3  Female     195     104      3  3.8025  0.533333
4    Male     149      61      3  2.2201  0.409396

**บันทึกไฟล์เป็น รหัสนิสิต_BMI.xlsx หรือ csv**

In [14]:
filepath = r'C:\Users\Coding\Desktop\61020593\61020593.csv' # $ conda install openpyxl
df.to_csv(filepath)