### 1.การหาค่าเข้าสู่ศูนย์กลางหรือค่ากลาง

In [1]:
import pandas as pd

In [2]:
url='https://github.com/mathawanup/learn_dataset/raw/master/coffee_staff.tsv'
df=pd.read_table(url)
df

            Name  Age  Work Gender  Part1  Part2
0       Mr.Mocha   25   1.2      M      1      3
1       Ms.Latte   22   2.3      F      2      3
2    Mr.Espresso   25   1.5      M      3      4
3   Mr.Americano   35   2.0      M      4      4
4      Ms.Frappe   32   3.0      F      5      5
5     Mr.Doppio    28   1.8      M      6      6
6    Mr.Affogato   25   1.4      M      7      6
7  Ms.Cappuccino   30   2.5      F      8      7
8   Mr.chocolate   33   3.2      M      9      7

In [3]:
df.info() #lสำรวจรายละเอียดของข้อมูลใน dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    9 non-null      object
 1   Age     9 non-null      int64
 2   Work    9 non-null      float64
 3   Gender  9 non-null      object
 4   Part1   9 non-null      int64
 5   Part2   9 non-null      int64
dtypes: float64(1), int64(3), object(2)
memory usage: 560.0+ bytes

**ค่าเฉลี่ย(mean)และส่วนเบี่ยงเบนมาตรฐาน(standard deviation)**

In [4]:
avg=df.Age.sum()/df.Name.value_counts().sum() 
avg#ค่าเฉลี่ย(mean)ของ  Age column

28.333333333333332

In [5]:
df.Age.mean()#ค่าเฉลี่ย(mean)ของ  Age column

28.333333333333332

In [7]:
 df.Part1.mean()#ค่าเฉลี่ยของ  Part1 column

5.0

In [8]:
 df.Part2.mean() #ค่าเฉลี่ยของ  Part2 column

5.0

In [9]:
df.Part1.std()#ส่วนเบี่ยงเบนมาตรฐานของ   Part1 column

2.7386127875258306

In [10]:
df.Part2.std()#ส่วนเบี่ยงเบนมาตรฐานของ   Part2 column

1.5811388300841898

**มัธยฐาน(Median)และฐานนิยม(Mode)**

In [11]:
df.columns #แสดงชื่อคอลัมภ์

Index(['Name', 'Age', 'Work', 'Gender', 'Part1', 'Part2'], dtype='object')

In [12]:
df.Work.sort_values().values

array([1.2, 1.4, 1.5, 1.8, 2. , 2.3, 2.5, 3. , 3.2])

In [13]:
 df.Work.median()#มัธยฐาน(median) ของ Work column

2.0

In [14]:
df

            Name  Age  Work Gender  Part1  Part2
0       Mr.Mocha   25   1.2      M      1      3
1       Ms.Latte   22   2.3      F      2      3
2    Mr.Espresso   25   1.5      M      3      4
3   Mr.Americano   35   2.0      M      4      4
4      Ms.Frappe   32   3.0      F      5      5
5     Mr.Doppio    28   1.8      M      6      6
6    Mr.Affogato   25   1.4      M      7      6
7  Ms.Cappuccino   30   2.5      F      8      7
8   Mr.chocolate   33   3.2      M      9      7

In [15]:
df.Age.mode() # ฐานนิยมmode()  ของ Age

0    25
dtype: int64

### 2.การวัดการกระจายตัวของข้อมูล

**Computing Quantiles-Percentiles, Quintiles, Deciles, Quarters https://pythontic.com/pandas/series-computations/quantile**

**ควอไทล์(Quatile)**

**They divide the distribution into quarters.**

In [16]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "http://my.ilstu.edu/~gjin/hsc204-hed/Module-5-Summary-Measure-2/Figure-3-8.png")

In [17]:
score=[59, 60, 65, 65, 68, 69, 70, 72, 75, 75, 76, 77, 81, 82, 84, 87, 90, 95, 98]
ds=pd.Series(score)

In [18]:
ds.quantile([0.25,0.5,0.75])

0.25    68.5
0.50    75.0
0.75    83.0
dtype: float64

In [20]:
result = ds.quantile(q = 0.9) 
result

90.99999999999999

In [21]:
 pd.qcut(score, 5, labels = False)

array([0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4],
      dtype=int64)

**เดไซล์**

**They divide the distribution into parts of tenths.**

In [22]:
ds.quantile([0.1,0.2,0.3,0.4,0.5,0.6,0.8,0.9])

0.1    64.0
0.2    66.8
0.3    69.4
0.4    72.6
0.5    75.0
0.6    76.8
0.8    85.2
0.9    91.0
dtype: float64

**เปอร์เซ็นต์ไทล์ (Percentile)**

**They divide the distribution into hundredths**

In [23]:
ds.quantile([0.25,0.3,0.4,0.5,0.6,0.8,0.9,1.0])

0.25    68.5
0.30    69.4
0.40    72.6
0.50    75.0
0.60    76.8
0.80    85.2
0.90    91.0
1.00    98.0
dtype: float64

**การแจกแจงความถี่**

In [24]:
df.columns

Index(['Name', 'Age', 'Work', 'Gender', 'Part1', 'Part2'], dtype='object')

In [25]:
df.Gender.value_counts()

M    6
F    3
Name: Gender, dtype: int64